<h1>{{title}}</h1>
<div class="center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let list of lists | async">
                <td>{{list.name}}</td>
                <td>
                    <button (click)="editList(list.id)">edit</button>
                </td>
                <td>
                    <button (click)="deleteList(list.id)">delete</button> 
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="center">
    <h2>
        calorie goal: <input type="text" [formControl]="calorieGoalForm" 
                        style="font-size: medium; color: #13293D; font-weight: bold; font-family: Cambria;
                        background-color: #F3DE8A;   border-radius: 15px; ">
    </h2>
</div>

<div class="center">
    <button (click)="submitCalories()" style="border-radius: 8px;">See Reports</button>
</div>

<div class="center">
    <h2>
    new list name: <input type="text" [formControl]="newListNameForm" 
                    style="font-size: medium; color: #13293D; font-weight: bold; font-family: Cambria;
                        background-color: #F3DE8A;   border-radius: 15px; ">
    </h2>
</div>

<div class="center">
    <button (click)="submitNewList()" style="border-radius: 8px;">Submit</button> 
</div>

<h2>Items that will expire in the following days</h2>
<div class="center" style="margin-top: 1%;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>delete</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let item of expiredItems | async">
                <td>{{item.name}}</td>
                <td>
                    <button (click)="donateItem(item.id)">donate</button> 
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="center" style="margin-top: 5%;">
    <button (click)="gotoLoginPage('login')" style="border-radius: 8px;">Back to Log in</button>
</div>