/* Application-wide Styles */
h1 {
    text-align: center;
    color: #EB9486;
    font-family: 'Arial Narrow Bold';
    font-size: 400%;
  }
  h2, h3 {
    color: #EB9486;
    font-family: 'Arial Narrow Bold';
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }

  body, input[type="text"]{
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* azure 73B9C9   377d92*/
  button{
    color: rgb(29, 90, 148);
    font-weight: 600;
    background-color: #F3DE8A;
    border-radius: 8px;
    padding: 15px 30px;  
    font-size: 24px;
    font-family: 'Arial Narrow Bold';
    /* box-shadow: 0px 3px #276172; */
  }

  td, th{
    border-radius: 2px;
    padding: 10px;
    color: #13293D;
    font-family: 'Arial Narrow Bold';
    font-weight: bold;
    font-size: x-large; 
  }
  
  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EB9486;
    color: #13293D;
  }

  tr:nth-child(even){
    background-color: #EB9486;
  }

  tr:nth-child(odd){
    background-color: #F3DE8A;
  }

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }